<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
</head>


<body id="onepage-1">

<!--end:preloader-->

<!--wrapper-->
<div class="wrapper">


    <!-- data-scroll-reveal="enter bottom over 1s and move 50px"  -->
    <section id="about">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="text-heading large-head ">
                        {{!-- <h3>Desitok – Indian Short Videos with Music and Effects</h3> --}}
                        <h3>About Us</h3>
                        <br>

                        <span>VipMe, is a mobile app that provides virtual meet and greets, allowing “fans” the
opportunity to meet and converse via video calls with their favourite. </span>
<br>

<li>Influencers </li>
<li>Sports personality  </li>

<li>Musician  </li>

<li>Onscreen (actors, presenters etc) </li>

<li>Business mentors, CEO’s etc  </li>


                        
                        <span>Our platform also offers a “Shoutout” feature allowing fans to request a personalised
video message from their favourite celebrities. </span>
                          

                    </div>
                </div><!--end:row-->
                <div class="clear"></div>

                <div class="in-divider line-shadow"></div>

            </div><!--end:row-->
        </div><!--end:container-->



    </section>
    <!--end:slider-->


</div> <!--end:wrapper-->

</body>
</html>