<!DOCTYPE html>
<html>
<head>
    <title>FAQ</title>
</head>


<body id="onepage-1">

<!--end:preloader-->

<!--wrapper-->
<div class="wrapper">


    <!-- data-scroll-reveal="enter bottom over 1s and move 50px"  -->
    <section id="about">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="text-heading large-head ">
                        {{!-- <h3>Desitok – Indian Short Videos with Music and Effects</h3> --}}
                        <h3>VIPME FAQs</h3>
                        <br>

                        <p>
                    <b>How long do video calls last?</b>
                            <br>
                            10 minutes
                            <br><br>
                        </p>

                        <p>
                    <b>How long does a video message last?</b>
                            <br>
                            Video messages will last a maximum of one minute
                            <br><br>
                        </p>


<p>
    <b>When is my favourite celebrity available?</b>
    <br>
    
Each celebrity profile will display their availability including the date and time.
</p>

<p>
    <b> How Much will my booking cost?</b><br>
   
Each celebrity sets their own price, please visit their profile to check their fees.
</p>

<p>
    <b> What if I miss my booking?</b><br>
   

Unfortunately, all videocall bookings are non-refundable unless cancelled by the celebrity
</p>

<p>
    <b> How will I receive a copy of my video call?</b><br>
   
Email. After your call is completed please do not disconnect as you will be asked to enter the
email address that you would like your video file to be sent to. Please note it will take 30
seconds for your video file to be created.

</p>

<p>
    <b> Can I request extra copies of my video?</b><br>
   
You will be sent one copy of the video at no additional cost. After this has been sent you can
request we resend another copy for a small admin fee of £4.99p. to do this please email
video@vipme.app
</p>

<p>
    <b> In App Tip</b><br>
During your call you can send an addition fee in the form of a tip to the celebrity. Please note
this is not compulsory.

</p>

<p>
    <b> My Video call was terminated</b><br>
   
If your call has been terminated, please email complaince@vipme.app and we will investigate
and advise you of the next steps. If the call was terminated due to breach of terms of use, we
regret to inform you that no refund will be made. If the call was terminated due to no fault of
your own, you will be offered an alternative booking at no charge or a partial refund.
</p>

<p>
    <b>Do you allow group calls?</b><br>
    
Currently VIPMe only allows one to one video calls
</p>

<p>
    <b> What payment methods do you accept?</b>
    <br>
   
VIPMe allows users to pay for the bookings via Paypal or Stripe
</p>

<p>
    <b>What can I ask the celebrity?</b>
    <br>
You can ask the celebrity whatever you like providing it doesn’t breach our terms of use. You
may wish to ask them their favourite colour or tell them about something yourself. Please
remember the celebrities are people just like you and me so please think about the things that
you would not like to be asked and apply that logic to your conversation.
</p>

<p>
    <b>Can I use share the video on my social media profile?</b>
    <br>
    
Yes, you can upload the videos to your personal profiles. Please note our videos cannot be
used for commercial purposes unless stated in the celebrity profile.
</p>

<p>
    <b>Can I use a video message to promote my own business?</b><br>
    
For promotional videos please email compliance@vipme.app
</p>

                          

                    </div>
                </div><!--end:row-->
                <div class="clear"></div>

                <div class="in-divider line-shadow"></div>

            </div><!--end:row-->
        </div><!--end:container-->



    </section>
    <!--end:slider-->


</div> <!--end:wrapper-->

</body>
</html>