<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
</head>


<body id="onepage-1">

<!--end:preloader-->

<!--wrapper-->
<div class="wrapper">


    <!-- data-scroll-reveal="enter bottom over 1s and move 50px"  -->
    <section id="about">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="text-heading large-head ">
                        <h3>Desitok – Indian Short Videos with Music and Effects</h3>
                        
                        <span>Desitok Apps do collects user information from you so that we can provide a rich and better user experience.  We are very concerned about your Privacy. And this Privacy policy explains how we use, protect user information. </span>
                        <span>Information about how we use the user data: </span>
                          

                    </div>
                </div><!--end:row-->
                <div class="clear"></div>

                <div class="in-divider line-shadow"></div>

            </div><!--end:row-->
        </div><!--end:container-->



    </section>
    <!--end:slider-->


</div> <!--end:wrapper-->

</body>
</html>